body {
    font-family: "Ubuntu Condensed";
}

.main {
    width: 50vw;
    min-width: 300px;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    margin-left: 50vw;
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 18px;
}